/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #A7E6E2;
  color: rgb(76, 48, 108);
}

header {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 98%;
  height: 100px;
  z-index: 10;
  background-color: #A7E6E2;
  padding-left: 10px;
  padding-right: 10px;
}

header.title {
  font-family: 'Impact', Charcoal, sans-serif;
  align-self: left;
}

header.options {
  font-family: 'Impact', Charcoal, sans-serif;
  align-self: center;
}

header.profile {
  font-family: 'Impact', Charcoal, sans-serif;
  align-self: right;
}

a {
  color: rgb(108, 48, 89) 
}

a:visited { 
  text-decoration: none;
}

a:hover { 
  color: rgb(252, 1, 202); 
}

.main {
  margin-top: 100px;
  min-height: 80vh;
  text-align: center;
  background: url(asset_path('wallpaper.jpg')) no-repeat center center fixed;
  
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.grid {
  display: flex;                       
  flex-wrap: wrap;                     
  justify-content: space-around;
  align-content: stretch;
}

.cell {
  flex: 0 0 32%;  
  width: 30%; 
  height: 30%;
  margin-bottom: 45px;
  margin-top: 45px; 
}

.home {
  padding-top: 10px;
}

.postbody {
  border-bottom: 1px solid rgb(148, 75, 148);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 89%;
  margin: auto;
}

.login {
  padding-top: 100px;
  padding-bottom: 100px; 
}

.signup {
  padding-top: 100px;
  padding-bottom: 100px; 
}

.category {
  padding-top: 10px;
}

.postshow {
  padding-top: 20px;
  padding-bottom: 20px;
}

.postedit {
  padding-top: 100px;
  padding-bottom: 100px;
}

.newpost {
  padding-top: 100px;
  padding-bottom: 100px; 
}

.usershow {
  padding-top: 20px;
  padding-bottom: 20px;
}

.useredit {
  padding-top: 100px;
  padding-bottom: 100px; 
}

.commentedit {
  padding-top: 100px;
  padding-bottom: 100px; 
}