<div class="grid">
<% @categories.each do |category| %>
  <div class="cell">
    <h3 class="category"><%= link_to category.name, category_path(category) %></h3>
    <p><%= category.description %></p>
  </div>
<% end %>
</div>




